@media screen and (max-width: 768px) {
  .btncl {
    width: 70px !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 1114px) {
  #search {
    width: 130px;
  }
}

@media screen and (max-width: 1106px) {
  #search {
    width: 120px;
  }
}

@media screen and (max-width: 695px) {
  #search {
    width: 50px;
  }
}
